<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>
<script type="text/javascript">
      window.notePic = "<%= image_url("note-icon.png")%>"
</script>
<script type="text/javascript">
      window.linkedPic = "<%= image_url("linkedin.png")%>"
</script>
<script type="text/javascript">
      window.jmbPic = "<%= image_url("jmb.png")%>"
</script>
<script type="text/javascript">
      window.instaPic = "<%= image_url("insta.jpg")%>"
</script>
<script type="text/javascript">
      window.newNote = "<%= image_url("new-note-icon.png")%>"
</script>
<script type="text/javascript">
      window.notebook2Pic = "<%= image_url("notebook-icon.png")%>"
</script>
<script type="text/javascript">
      window.tagPic = "<%= image_url("tags-icon.png")%>"
</script>
<script type="text/javascript">
      window.sortPic = "<%= image_url("sort.png")%>"
</script>
<script type="text/javascript">
      window.notebookPic = "<%= image_url("notebook.png")%>"
</script>
<script type="text/javascript">
      window.brainpic = "<%= image_url("brainpic.png")%>"
</script>
<script type="text/javascript">
      window.collaboratepic = "<%= image_url("collaboratepic.svg")%>"
</script>
<script type="text/javascript">
      window.organizepic = "<%= image_url("organizepic.png")%>"
</script>
<script type="text/javascript">
      window.splash3pic = "<%= image_url("splash3pic.png")%>"
</script>
<script type="text/javascript">
      window.logoPic = "<%= image_url("Evernote-logo.png")%>"
</script>

<script type="text/javascript">
      window.splashtwo = "<%= image_url("splash-two.png")%>"
</script>
<script type="text/javascript">
      window.splashHero = "<%= image_url("splash-hero.png")%>"
</script>


<main id="root">
<h2>App Not Rendering</h2>
</main>
